@import url("https://fonts.googleapis.com/css2?family=Candal&family=Roboto");

.mainBody {
  position: fixed;
}

.paragraphBody {
  position: fixed;
  top: 30%;
  left: 45%;
}

.paragraphBody a {
  color: black;
  font-size: 15pt;
  text-decoration: none;
  position: fixed;
  cursor: pointer;
}

.paragraphBody a:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 65%;
  z-index: -1;
  top: 10pt;
  left: 0;
  background: pink;
  animation-name: highlight;
  animation-duration: 2.15s;
  animation-direction: alternate; /* Make the animation run back and forth */
}

.imageBody {
  position: fixed;
  left: 20%;
  top: 30%;
}

.imageParagraph {
  position: relative;
  left: 15%; /* Set left to 50% */
}

.albiPhoto {
  width: 150pt;
  height: auto;
  border-radius: 500pt;
}

/* Adjust position for smaller screens */
@media screen and (max-width: 1200px) {
    .imageBody {
      left: 35%;
    }

    
  }
  
