@import url(../css/properties.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.imageContainer{
    position: relative;
    left: 450px;
    bottom: 330px;
}

.photo{
    border-radius: 100%;
    width: auto;
    height: 180px;

}

.textContainer{
    position: relative;
    left: 750px;
}

.text{

    color: rgba(255, 253, 253, 0.801);
    font-size: 13pt;
    position: relative;
    left: 50px;
    padding-bottom: 15px;
    font-family: 'Roboto';
 
    line-height: 30px;
}


.name{
    color: var(--font-color);
    position: relative;
    left: 25px;
    font-family: 'Roboto';
    font-size: 20pt;
}

.sweText{
    color: rgba(255, 253, 253, 0.541);
    position: relative;
    left: 13px;
    font-size: 14pt;
    font-family: 'Roboto';
    bottom: 10px;
}