@import url(../css/animation.css);



.headerText {
    position: fixed;
    top: 15%;
    left: 15%;
    font-family: Helvetica;
    font-weight: 900;
    font-size: 45pt;
    animation-name: fade;
    animation-duration: 1s;
  }

  :root {
    --bar-width: 0px;
    --opacity: 0%;

  }
  
  .headerText::after {
    content: "";
    display: block; /* Makes it possible to set width and height */
    width: var(--bar-width); /* Use the CSS variable */
    height: 2px; /* Height of the line */
    background-color: #ededed; /* Color of the line */
    position: fixed; /* Positioning relative to the .aboutText element */
    margin-top: 15pt;
    padding: 0 20px; /* Adds padding inside the navigation bar */

    animation-name: fade;
    animation-duration: 1s;
  }

@media screen and (max-width: 600px) {

  .headerText{
    font-size: 30px;
  }

    
  }

