@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("../css/animation.css");
@import url(../css/properties.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.mainContainer{
}

.textBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  position: absolute;
  top: 550px;
  left: 35%;
  transform: translate(-50%, -50%);
  animation: fade;
  animation-duration: 0.5s;
}

.helloText {
  font-size: 42px;
  font-weight: bolder;
  color: var(--font-color);
  margin: 7px 0;
  font-family: "Roboto";
}

.SWEText {
  font-size: 28px;
  font-weight: 400;
  color: var(--font-color);
  margin: 7px 0;
  font-family: "Roboto";

}

.learnText {
  font-size: 22px;
  font-family: "Roboto";
  color: var(--font-color);
  font-weight: 400;
  margin: 7px 0;
}


.textBody a {
  color: var(--highlited-text);
  text-decoration: none;
  position: relative;
  font-family: "Roboto";

}

.textBody a:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background: var(--highlight-color);
  animation-name: highlight;
  animation-duration: 2.15s;
  animation-direction: alternate; /* Make the animation run back and forth */
}


