@import url(../css/properties.css);

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Align navbar to the right */
  align-items: end;
  position: fixed; /* Changed from absolute to fixed */
  top: 25px; /* Adjust top positioning */
  right: 19%; /* Align navbar to the right side of the screen */
  max-width: 1200px; /* Example max-width; adjust based on your design */
  padding: 0 20px; /* Adds padding inside the navigation bar */
  z-index: 1000;
}


.navBar a {
  color: var(--font-color); /* Use the color inherited from the parent */
  text-decoration: none; /* Remove the underline */
  margin-right: 35px; /* Add right margin to create space between links */
  font-size: 14pt;
  font-weight: lighter;
}

.navBar a:hover{
  color: gray;
}